body {
   transition: 0.5s background-color;
}

.scroll {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.scroll {
    …
   display: none;
}

div {
   position: static; //
}

div {
   position: absolute;
}



section{
   position: relative;
}


div {
   position: absolute;
}

<section>
   <div>absolute</div>
</section>



div {
   position: fixed;
}
html{
scroll-behavior:smooth;
}